$main-color: rgb(33, 146, 52);
$btn-shadow: rgb(30, 83, 39);
$btn-border: rgb(39, 158, 59);
$btn-bcg-active: rgb(18, 51, 23);
$btn-focus: rgb(23, 54, 29);
$box-border: rgba(24, 23, 23, 0.4);

$btn-delete: rgb(34, 34, 168);
$btn-delete-shadow: rgb(29, 29, 75);
$btn-delete-border: rgb(18, 18, 128);


$check-bgc:rgba(141, 141, 189, 0.568);
$check-border:rgba(60, 60, 85, 0.568);
$check-round:rgb(255,255,255);

$todo-bgc: #F0F0F0;
$color-black: rgb(0,0,0);
